* {
	margin: 0px;
}

body {
	font-family: @import url(//db.onlinewebfonts.com/c/88c7cb10b703e0d8910b82df15e0cde5?family=Segoe+WP);
	font-family: arial, helvetica, sans-serif;
}

a {
	text-decoration: none;
	transition: 0.2s ease-out;
}

header {
	position: relative;
}

/* ..................
     class header 
.....................*/


.header {
	display: flex;
	flex-wrap: wrap;
	height: 67px;
	margin-left: 11.9%;
	background: #FFF;
	margin-bottom: 35px;
}

.header__logo {
	font-size: 36.35px;
	color:#1298dd;
	margin-top: 25px;
}

.header__logo span {
	font-size: 30.35px;
	color: #8d8d8d;
}

.navbar {
	display: flex;
	flex-wrap: wrap;
	margin-left: 33.9%;
	font-size: 16.35px;
	margin-top: 45px;
	margin-right: 0px;
}

.navbar a {
	color: #676767;
	margin-right: 40px;
	padding: 6px;
}

.navbar a:last-child {
	margin-right: 0px;
}

.navbar a:hover {
	color: #FFF;
	background: #238be9;
	border-radius: 3px;
}


/* ..................
      header__bg
.....................*/

.header__bg {
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	flex-direction: column;
	height: 535px;
	background: url(../img/bg.jpg) 0px no-repeat;
	background-size: cover;
}

.block__1 p {
	font-size: 52.35px;
	color: #FFF;
	text-transform: uppercase;
}

.block__1 p span {
	font-size: 48.35px;
	font-weight: lighter;
}

.block__link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #56c342;
	margin-top: 46px;
	border-radius: 5px;
	height: 58px;
	width: 275px;
	padding: 5px 10px;
	cursor: pointer;
}

.block__link a {
	font-size: 34.35px;
	color: #FFF;
}


/* ...................
      midlle__block
.....................*/

.midlle__block {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
	position: relative;
	background: #FFF;
	width: 480px;
	height: 245px;
	margin-left: 34%;
	margin-top: -70px;
	padding: 30px;
	border-radius: 5px;
	border-bottom: 5px solid #51c03d;

}

.visit__title {
	position: absolute;
	height: 24px;
	margin-top: -100px;
}

.visit__title p {
	color: #868686;
	font-size: 22.35px;
}

.places__gallery {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	position: absolute;
	width: 450px;
	height: 150px;
	margin-top: 20px;
	padding: 0;
	margin-left: 0px;
}

.gallery {
	width: 77px;
	height: 71px;
	margin-right: 10px;
	margin-top: 5px;
	
}

.gallery p {
	color: #929292;
	font-size: 14.35px;
}

section {
	height: 710px;
	background: #ececec;
	margin-top: -240px;
}

.section__block {
	display: flex;
	justify-content: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.section__title {
	text-align: center;
	margin-top: 300px;
	color: #7e7c7c;	
}

.section__title h2 {
	font-size: 26.35px;
	margin-top: 10px;
}


.section__title p {
	font-size: 22.35px;
	margin-top: 10px;
}

.section__icons {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 50px;
	margin-left: 5%;
}

.icon {
	margin-right: 80px;

}

.icon p {
	text-align: center;
	margin-top: 20px;
	color: #7e7c7c;
	font-size: 20.35px;
}

footer {
	text-align: center;
	height: 31px;
	background: #414141;
}

.footer__block {
	padding-top: 6px;
}

.footer__block p {
	color: #fff;
	font-size: 14.35px;
}







@media screen and (max-width: 1268px){
	.navbar {
		margin-left:23%;
	}
}
@media screen and (max-width: 1150px){
	.navbar {
		margin-left:20%;
	}
}

@media screen and (max-width: 1050px){
	.navbar {
		margin-left:15%;
	}
}

@media screen and (max-width: 900px){

	.navbar {
		margin-left:10%;

	}
	nav a {
		display:block;
		float: right;
		margin-top: 10px;
		margin-right: 10%
	}

	.block__1 p {
		font-size: 42.35px;
	}

	.block__1 p span {
		font-size: 38.35px;
	}

}